* {
	box-sizing: border-box;	
}

html, body {
	margin: 0;
	font-family: 'Helvetica';
}

section {
	height: 600px;
	border: 1px solid black;
	padding: 38px 0 0 10px;
}

section:nth-child(odd) {
	background-color: #F2F2F2;
}

.nav-wrapper {
	text-align: center;
	background-color: #F2F2F2;
	position: fixed;
	width: 100%;
	border-left: 1px solid black;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
}

#menu-icon {
	position: absolute;
	top: 0;
	right: 10px;
	font-size: 32px;
	cursor: pointer;
	color: #F16544;
	display: none;
}

.nav-wrapper ul {
	padding: 0;
	margin: 0;
}

.nav-wrapper li {
	display: inline-block;
	padding: 10px;
}

.nav-wrapper li.current {
	background-color: #F16544;
}

.nav-wrapper li.current a {
	color: #FFFFFF;
}

.nav-wrapper li a {
	color: #F16544;
	text-decoration: none;
}

/*MEDIA*/

@media all and (max-width: 768px) {
	.nav-wrapper nav {
		display: none;
	}

	.nav-wrapper li {
		display: block;
	}

	#menu-icon {
		display: block;
	}
}